/* Nox sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

body {
  background-color: #dcdbd9;
  color: white;
  font: normal 100%, Cambria, Georgia, serif;
}

section {
  width: 960px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: fixed;
  width: 100%;
}

div.navigation {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  font-family: "Scriptina";
  font-size: 30px;
  vertical-align: center;
  padding-bottom: 20px;
}

nav ul {
  display: flex;
  color: white;
}

nav ul li a {
  color: white;
  font-family: "Alegreya";
}

nav ul li a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.navigation__social-media {
  display: flex;
}

.navigation__social-media i:nth-child(2) {
  padding: 0 10px 0 10px;
}

.navigation__social-media i:nth-child(1):hover {
  color: #00acee;
  transition: all 0.3s ease;
}

.navigation__social-media i:nth-child(2):hover {
  color: #3b5998;
  transition: all 0.3s ease;
}

.navigation__social-media i:nth-child(3):hover {
  background-color: white;
  color: #e52325;
  transition: all 0.3s ease;
}

.divider {
  padding: 0 10px 0 10px;
}

.landing-section {
  background-image: url("../images/hero.jpg");
  height: 100vh;
}

.landing-section section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle closest-side,
    rgba(131, 124, 115, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.landing-section section h1 {
  font-size: 92px;
}

.landing-section__shape {
  border-top: 2px solid rgb(185, 180, 177);
  width: 200px;
  margin: 60px 0 90px 0;
}

.landing-section section h3 {
  font-size: 24px;
  margin-bottom: 70px;
}

.landing-section section button {
  width: 200px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: "Alegreya";
  border: none;
}

.art-of-cakes {
  background-image: url("../images/art-of-cakes-wallpaper.jpg");
  padding: 46px 0 46px 0;
}

.art-of-cakes__left {
  padding-top: 105px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.art-of-cakes__left h3 {
  font: bold 48px "Alegreya";
  color: #56534c;
  text-align: center;
}
.art-of-cakes__left h4 {
  font: bold 18px "Alegreya";
  color: #a47d5e;
  text-transform: capitalize;
  text-align: center;
}
.art-of-cakes__left p {
  font: 16px "Proxima Nova";
  line-height: 1.6;
  text-align: justify;
  color: #56534c;
  text-align: center;
  margin-top: 40px;
  /* 66px */
}
.art-of-cakes__left h5 {
  font: bold 24px "Alegreya";
  text-align: justify;
  text-transform: capitalize;
  color: #56534c;
  text-align: center;
  margin-top: 40px;
}

.art-of-cakes__chef-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-of-cakes__chef-description div:first-child {
  border-top: 2px solid #d7d5ca;
  border-bottom: 2px solid #d7d5ca;
  padding: 18px;
  font: 24px "Alegreya";
  color: #56534c;
  text-align: center;
}
.art-of-cakes__chef-description div:last-child {
  border-top: 2px solid #d7d5ca;
  border-bottom: 2px solid #d7d5ca;
  padding: 18px;
  font: 24px "Alegreya";
  color: #56534c;
  text-align: center;
}

.art-of-cakes__chef-description__chef-image {
  width: 100px;
  margin: 0px 20px 0 20px;
}

.art-of-cakes__chef-description__chef-image img {
  max-width: 100%;
  border-radius: 100%;
}

.art-of-cakes__chef-description--chef-motto {
  color: #a47d5e;
  font-family: "Scriptina";
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art-of-cakes__chef-description--chef-motto div:first-child,
.art-of-cakes__chef-description--chef-motto div:last-child {
  color: #56534c;
  font-size: 50px;
}

.art-of-cakes__chef-description--chef-motto div:nth-child(2) {
  text-align: center;
  width: 250px;
}

.art-of-cakes__chef-description--chef-motto div:first-child {
  align-self: flex-start;
  margin-left: 30px;
}
.art-of-cakes__chef-description--chef-motto div:last-child {
  align-self: flex-end;
  margin-right: 30px;
}

.art-of-cakes section {
  display: flex;
  align-content: center;
  align-items: center;
}
.art-of-cakes__right {
  /* padding-top: 105px; */
  width: 50%;
  position: relative;
}

.art-of-cakes__right p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  text-align: center;
  border-radius: 100%;
  font: bold 30px "Alegreya";
}

.art-of-cakes__right img {
  width: 230px;
  padding: 5px;
}

.tasty-pancakes {
  background-image: url("../images/pancakes-wallpaper.jpg");
  position: relative;
}

.tasty-pancakes section {
  padding-top: 140px;
  padding-bottom: 105px;
  display: flex;
}

.tasty-pancakes__rating {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.tasty-pancakes__rating i {
  padding: 5px;
  margin-left: 20px;
}

.fa-bars {
  transform: rotate(90deg);
  color: #56534c;
  position: absolute;
  top: 66.5%;
  transform: translateY(-290%);
  left: 45%;
}

.tasty-pancakes section > div:nth-child(2) {
  background-image: url("../images/tasty-pancakes-right-wallpaper.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.tasty-pancakes h3 {
  font: bold 48px "Alegreya";
  color: #56534c;
}

.tasty-pancakes h4 {
  font: bold 18px "Alegreya";
  color: #a47d5e;
  text-transform: capitalize;
}

.tasty-pancakes p {
  font: 16px "Proxima Nova";
  line-height: 1.6;
  text-align: justify;
  color: #56534c;
  text-align: center;
  margin-top: 40px;
  /* 66px */
}

.tasty-pancakes__rating-right i {
  padding: 5px;
  color: #a47d5e;
}

.tasty-pancakes__image-gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tasty-pancakes__image-gallery i {
  color: #a47d5e;
  font-size: 50px;
}

.tasty-pancakes__image-gallery img {
  width: 100px;
  border-radius: 100%;
}

.tasty-pancakes__circle {
  text-align: center;
  margin-top: 20px;
}

.tasty-pancakes__circle i {
  font-size: 14px;
  color: #a47d5e;
  padding-left: 5px;
}

.tasty-pancakes__time {
  width: 200px;
  height: 200px;
  background-image: url("../images/time-background.jpg");
  position: absolute;
  top: -50px;
  right: -100px;
}

.tasty-pancakes__time > p {
  font-size: 18px;
  font-family: "Alegreya";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.tasty-pancakes__time span:first-child {
  font-weight: bold;
  color: #a47d5e;
}

.tasty-pancakes__time span:last-child {
  font-weight: bold;
  font-size: 92px;
  color: #dfc691;
}

.breakfast {
  background-image: url("../images/breakfast-background.jpg");
  background-position: center;
  background-size: cover;
}

.breakfast section {
  padding: 90px 0 90px 0;
  display: flex;
  position: relative;
}

.breakfast section > div:nth-child(1) {
  text-align: center;
  font-family: "Alegreya";
  padding-left: 50px;
  padding-right: 50px;
}

.breakfast section div:nth-child(1) h3 {
  font-weight: bold;
  font-size: 60px;
}

.breakfast section div:nth-child(1) h4 {
  font-weight: bold;
  font-size: 18px;
  color: #c8a593;
  padding-bottom: 30px;
}

.breakfast__item {
  margin-top: 30px;
}

.breakfast__item h5 {
  font-weight: bold;
  font-size: 30px;
}

.breakfast__item p {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: #d7d5ca;
}

.breakfast__item p:last-child {
  font-weight: regular;
  font-size: 36px;
  font-family: "Alegreya";
  color: #dfc691;
}

.breakfast section > div:nth-child(2) {
  background-color: #f3f1e9;
  width: 500px;
  padding: 10px;
  position: relative;
  z-index: 999;
}

.breakfast__shape {
  background-image: url("../images/breakfast-rightside-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px dashed #56534c;
  z-index: 100;
}

.breakfast__shape p:first-child {
  font-weight: bold;
  font-size: 14px;
  font-family: "Alegreya";
  color: #56534c;
  justify-content: space-evenly;
  display: flex;
  line-height: 1.5;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.breakfast__shape p {
  font-weight: bold;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-align: center;
  color: #56534c;
  line-height: 1.5;
}

.breakfast section div:nth-child(2) .breakfast__shape h4 {
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}

.breakfast__shape button {
  margin: 50px auto;
  width: 200px;
  height: 45px;
  background-color: transparent;
  color: #56534c;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: "Alegreya";
  border: 1px solid #d7d5ca;
  text-transform: uppercase;
}

.breakfast__shape-one {
  height: 60%;
  width: 50px;
  background-color: #d7d5ca;
  position: absolute;
  left: 930px;
  top: 20%;
  z-index: 2;
}

.breakfast__shape-one > div {
  width: 60%;
  height: 95%;
  border: 1px dashed #56534c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breakfast__shape-two {
  height: 50%;
  width: 50px;
  background-color: #c3c0b4;
  position: absolute;
  top: 25%;
  left: 950px;
  z-index: 1;
}

.breakfast__shape-two > div {
  width: 60%;
  height: 95%;
  border: 1px dashed #56534c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sandwich {
  background-image: url("../images/sandwich-section-background.jpg");
}

.sandwich section {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}

.sandwich section div:first-child h3 {
  font: bold 48px "Alegreya";
  color: #56534c;
  text-align: center;
}

.sandwich section div:first-child h4 {
  font: bold 14px "Alegreya";
  text-align: center;
  color: #a47d5e;
}

.sandwich section div:nth-child(2) {
  display: flex;
  align-items: center;
}

.sandwich section div:nth-child(2) div:nth-child(1) .sandwich__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.sandwich section div:nth-child(2) div:nth-child(1) .sandwich__item img {
  border-radius: 50%;
  max-width: 100%;
}

.sandwich section div:nth-child(2) div:nth-child(1) .sandwich__item h5 {
  font: bold 30px "Alegreya";
  color: #a47d5e;
  text-align: center;
}

.sandwich section > div:nth-child(2) > div:nth-child(1) > .sandwich__item > p {
  font-size: 14px;
  font-family: "Proxima Nova";
  text-align: center;
  color: #56534c;
  line-height: 1.5;
}

.sandwich section > div:nth-child(2) > div:nth-child(2) > img {
  border: 10px solid white;
}

.sandwich-image {
  position: absolute;
  right: -150px;
}

.sandwich-image button {
  color: #dfc691;
  background-color: white;
  font: bold 18px "Alegreya";
  text-align: center;
  width: 200px;
  height: 45px;
  border: 1px dashed #56534c;
  position: absolute;
  top: 95%;
  left: -20px;
}

.sandwich-image > div {
  display: flex;
  flex-direction: column;
  margin-left: -210px;
  margin-bottom: -25px;
}

.sandwich-image div div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.sandwich-image div div:first-child {
  margin-bottom: 2px;
}

.sandwich-image div div:last-child {
  background-image: url("../images/sandwich-ready-bg.jpg");
}

.sandwich-image div div p {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sandwich-image div div p,
.sandwich-image div div p span:first-child {
  font: bold 18px "Alegreya";
  color: #a47d5e;
}

.sandwich-image div div p span:nth-child(2) {
  font: bold 60px "Alegreya";
  color: #56534c;
}

footer {
  background-color: #f3f1e9;
  color: #56534c;
  font-size: 14px;
  font-family: "Alegreya";
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

footer >div:first-child ul {
  margin-left: 150px;
}

footer > div:last-child ul {
  margin-right: 150px;
}

footer >div:first-child ul,
footer > div:last-child ul {
  display: flex;
  padding: 0 20px 0 20px;;
  border-top: 1px solid #56534c;
  border-bottom: 1px solid #56534c;
}

footer > div > ul > li {
  padding: 20px;
}

footer > div > ul > li > span {
  margin-left: 40px;
}

footer > div:nth-child(2) {
  font-family: "Scriptina";
  font-size: 30px;
  vertical-align: center;
}